
@import "tailwindcss";

:root {
  --font-primary: var(--font-mont);
  --font-heading: var(--font-denton);
}

body {
  font-family: var(--font-primary), sans-serif;
}

h1,
h2,
h3{
  font-family: var(--font-heading), sans-serif;
}

h4,
h5,
h6{
  font-family: var(--font-primary), serif;
}